*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    color: #09203f;
    /* background-color: #002a35; */
    background-image: url(../img/2.jpg);
    background-position: right bottom;
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% ); */
}
.left{
    height: 100vh;
    width: 100%;
    background-image: url(../img/39Cg.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.container-xl{
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: start
}
.right{
    /* padding: 24px 48px ; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover{
    height: 80%;
    border-radius: 24px;
    padding: 24px 48px ;
    animation: fadeUp 1s ;
}
@media screen and (max-width: 768px) {
    .cover{
    padding: 12px 24px ;
    }
}
@media screen and (max-width: 520px) {
    .cover{
    padding: 0 0 0 15px  ;
    }
}
.btn.btn-primary{
    min-width: 120px;
}
#accordionExample{
    width: 100%;
}
#bai_4 span{
    text-transform: uppercase;
}
@keyframes fadeUp{
    0%{
        opacity: 0.1;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.nav{
    animation: fadeLeft ease-out 1.5s ;
}
@keyframes fadeLeft{
    0%{
        opacity: 0.1;
        transform: translateX(-10px);
    }
    30%{
        opacity: 0;
        transform: translateX(-10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.tab-content{
    animation: fadeRight ease-out 1.5s ;
}
@keyframes fadeRight{
    0%{
        opacity: 0.1;
        transform: translateX(10px);
    }
    30%{
        opacity: 0;
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
#result1, #result2, #result3, #result4, #result5, #result6, #result7, #result8, #result9, #result10 {
    display: none;
}

